/* -----------------------------------------------------------
 	Styling for Header and Navigation
----------------------------------------------------------- */

       /*Allows Image on L and Practice info on R*/
       #header-image {
         float: left;
        }

       /*Floats header P and formats text*/
        #heading p {
         float: right;
         margin-top: 20px;
         font-family: 'Molengo', sans-serif;
      	 font-size: 125%;
    	   color: #848482;
        }

       /*Disables underline for links and sets button text size*/
        #heading a {
	        font-size: 90%;
          text-decoration:none;
        }

       /*Wanted Phone# to be large and visible*/
       #heading a.phone_num {
	        font-size: 140%;
        }


        .btn {
      	  border-radius: 3px;
      	  background-color:  rgb(240,240,240);
      	  margin-top:4px;
        }

       #heading p .btn:hover {
	         background-color: #B2B2B2;
	     }

      .hero {
	        width: 100%
      }

     .navbar {
          margin-bottom: 0;
      }

      nav li:hover {
	        background-color:  #B2B2B2;
      }

	.apptsmall {display: none;}


/* -----------------------------------------------------------
 	Styling for Body
----------------------------------------------------------- */

#sidebar {
	float:right;
	width:25%;
	padding-left: 4%;
}

.sidebar_feature {
	background-color: #B2B2B2;
	text-align: center;
	padding: 6px;
	margin: 10px 0px;
}



/* -----------------------------------------------------------
 	Styling for Footer
----------------------------------------------------------- */

footer {
	background-color:  #595959;
	color: #fff;
}

#map {
  width:100%;
  height:250px;
  color: #000000;
}

.hero {
	margin-top: 4px;
}


.footerlogo {
  display: block;
  margin: 8px auto 0px;
}

.social-icons a{
	background: #1398ca;
	color: #fff;
	border-radius: 4px;
 	margin: 5px;
	padding: 8px 10px;
	transition: all 0.2s ease-in-out;
}

.social-icons a:hover{
	opacity: .6;
}

.quick a{
  color: #fff;
}

.row-fluid {
  display: flex;
  margin: 0px;
  align-items: center;
  justify-content: center;

}

.quick {
	margin: 10px;
	color: white;
}

/*W3C Vaildation Icons Styling*/
.valid_icon {
  margin-top: 20px;
  text-align: center;
}


.copyright {
	margin-left: 8%;
}

/* ---------------------------------------------------------------------- */
/*  From Small Devices Up To Medium Devices
 /* ---------------------------------------------------------------------- */
@media (max-width: 767px) {


     #header-image {
            	float: none;
            	clear: both;
            	display:block;
            	margin:4px auto;
      }


     #heading div.container.contact {
            	display:none;
            	margin:0;
            	padding:0;
            	height: 0;
      }

    .container.right.contact {margin:0;
            	padding:0;
            	height: 0;
    }


    button.navbar-toggle {
            	float: none;clear:both;
            	color: #B2B2B2;
            	margin: 0;
            	height: 75px;
    }


    a.navbar-brand {
    	       visibility: visible;
    }

    .apptsmall {
		  display: inline;
    }
	
    .col-sm-4 {
	float: left;
	padding: 7px 7%;	
    }

}
