        /*Provides R and L margins but content still takes up majority of width*/
        #SiteBody 
        {
            width: 90%;
            margin: 0 auto;
            background-color: white;
        }


/* -----------------------------------------------------------
 	Styling for Header and Navigation         
----------------------------------------------------------- */

       /*Allows Image on L and Practice info on R*/
       #header-image {
         float: left;
        }	

       /*Floats header P and formats text*/
        #heading p {
	  float: right;
	  margin-top: 20px;	
	  font-family: 'Molengo', sans-serif;
	  font-size: 125%;        
	  color: #848482;
         }	

       /*Disables underline for links and sets button text size*/
        #heading a {
	  font-size: 90%;
          text-decoration:none;
        } 	
  
       /*Wanted Phone# to be large and visible*/	
       #heading a.phone_num {
	  font-size: 140%;
        } 


        .btn {
	  border-radius: 3px;
	  background-color:  rgb(240,240,240);
	  margin-top:4px;
        }	

       #heading p .btn:hover {
	  background-color: #B2B2B2;
	}	

        .hero {
	  width: 100%
        }

  	.navbar {
   	  margin-bottom: 6px;
        } 	

        nav li:hover {
	  background-color:  #B2B2B2;
        }  	


/* -----------------------------------------------------------
 	Styling for Body      
----------------------------------------------------------- */

#main {
	float:left;
	width:75%;
}

#sidebar {
	float:right;
	width:25%;
	padding-left: 4%;
}

.sidebar_feature {
	background-color: #B2B2B2;
	text-align: center;
	padding: 6px;
	margin: 4px 0px;
}

/* -----------------------------------------------------------
 	Styling for Footer      
----------------------------------------------------------- */

/*W3C Vaildation Icons Styling*/	
         .valid_icon {
	    text-align: center;
         }
