/* -----------------------------------------------------------
 	Styling for Header and Navigation
----------------------------------------------------------- */

       /*Allows Image on L and Practice info on R*/
       #header-image {
         float: left;
        }

       /*Floats header P and formats text*/
        #heading p {
        	  float: right;
        	  margin-top: 20px;
        	  font-family: 'Molengo', sans-serif;
        	  font-size: 125%;
        	  color: #848482;
      }

       /*Disables underline for links and sets button text size*/
        #heading a {
	        font-size: 90%;
          text-decoration:none;
        }

       /*Wanted Phone# to be large and visible*/
       #heading a.phone_num {
	         font-size: 140%;
        }


        .btn {
            	  border-radius: 3px;
            	  background-color:  rgb(240,240,240);
            	  margin-top:4px;
        }

       #heading p .btn:hover {
	         background-color: #B2B2B2;
	         }

        .hero {
	           width: 100%
        }

  	     .navbar {
   	        margin-bottom: 6px;
        }

        nav li:hover {
	           background-color:  #B2B2B2;
        }


/* -----------------------------------------------------------
 	Styling for Body
----------------------------------------------------------- */

#main {
	float:left;
	width:75%;
}

#sidebar {
	float:right;
	width:25%;
	padding-left: 4%;
}

.sidebar_feature {
	background-color: #B2B2B2;
	text-align: center;
	padding: 6px;
	margin: 10px 0px;
}

/* -----------------------------------------------------------
 	Styling for Appointment Request Form
----------------------------------------------------------- */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    margin: 20px auto;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    margin-right: 6px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
  /*  position: fixed;  Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
    margin: 20px auto;
    width: 40%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    margin-right: 6px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Form  */
div#form_sample{
text-align:center;
align-self: center;
border:1px solid #ccc;
width:100%;
padding:0 50px 15px;
box-shadow:0 0 15px;
border-radius:6px;

}

hr{
margin-top:-5px
}
label{
float:left;
font-size:16px
}
input[type="text"]{
width:100%;
margin-top:10px;
height:35px;
margin-bottom:25px;
padding:10px;
border:3px solid #2BC1F2
}
textarea{
width:100%;
border:3px solid #2BC1F2;
padding:10px;
margin-bottom:25px;
margin-top:10px;
height:100px;
resize:none
}
input[type="submit"]{
width:100%;
padding:10px 45px;
background-color:#2BC1F2;
border:none;
color:#fff;
font-size:18px;
font-weight:700;
cursor:pointer;
font-family:'Ubuntu',sans-serif
}

/* -----------------------------------------------------------
 	Styling for Footer
----------------------------------------------------------- */

footer {
	  background-color:  #595959;
	  color: #fff;
}

#map {
    width:100%;
    height:250px;
    color: #000000;
}

.footerlogo {
    display: block;
    margin: 8px auto 0px;
}

.social-icons a{
	background: #1398ca;
	color: #fff;
	border-radius: 4px;
 	margin: 5px;
	padding: 8px 10px;
	transition: all 0.2s ease-in-out;
}

.social-icons a:hover{
	opacity: .6;
}

.quick a{
  color: #fff;
}

.row-fluid {
  display: flex;
  margin: 0px 5p;
  align-items: center;
  justify-content: center;

}

.quick {
	margin: 10px;
	color: white;
}

/*W3C Vaildation Icons Styling*/
.valid_icon {
	    	margin-top: 20px;
		text-align: center;
         }
