/* -----------------------------------------------------------
 	Styling for Header and Navigation         
----------------------------------------------------------- */

       /*Allows Image on L and Practice info on R*/
       #header-image {
         float: left;
        }	

       /*Floats header P and formats text*/
        #heading p {
	  float: right;
	  margin-top: 20px;	
	  font-family: 'Molengo', sans-serif;
	  font-size: 125%;        
	  color: #848482;
         }	

       /*Disables underline for links and sets button text size*/
        #heading a {
	  font-size: 90%;
          text-decoration:none;
        } 	
  
       /*Wanted Phone# to be large and visible*/	
       #heading a.phone_num {
	  font-size: 140%;
        } 


        .btn {
	  border-radius: 3px;
	  background-color:  rgb(240,240,240);
	  margin-top:4px;
        }	

       #heading p .btn:hover {
	  background-color: #B2B2B2;
	}	

        .hero {
	  width: 100%
        }

  	.navbar {
   	  margin-bottom: 6px;
        } 	

        nav li:hover {
	  background-color:  #B2B2B2;
        }  	


/* -----------------------------------------------------------
 	Styling for Body      
----------------------------------------------------------- */

#main {
	float:left;
	width:75%;
}

#sidebar {
	float:right;
	width:25%;
	padding-left: 4%;
}

.sidebar_feature {
	background-color: #B2B2B2;
	text-align: center;
	padding: 6px;
	margin: 10px 0px;
}

/* -----------------------------------------------------------
 	Styling for Footer      
----------------------------------------------------------- */

footer {
	  background-color:  #595959;
	  color: #fff;
}

.footerlogo {
    display: block;
    margin: 8px auto 0px;
}

.social-icons a{
	background: #1398ca;
	color: #fff;
	border-radius: 4px;
 	margin: 5px;
	padding: 8px 10px;
	transition: all 0.2s ease-in-out;
}

.social-icons a:hover{
	opacity: .6;
	
}

.row-fluid {
  display: flex;
  margin: 0px 5p;
  align-items: center;
  justify-content: center;
  
}

.quick {
	margin: 10px;
	color: white;
}

/*W3C Vaildation Icons Styling*/	
         .valid_icon {
	    	margin-top: 20px; 
		text-align: center;
         }
